@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.nav-item{
  border-bottom:2px solid white;
  background-color: #e4e4e4;
  border-radius: 5px;
  color: #98a0a3;
  padding: 5px;
}
.nav-item:hover{
  border-bottom:2px solid orange;
  background-color: #005980;;
  border-radius: 5px;
  color: white;
  padding: 5px;
}
.opensans {
  font-family: 'Open Sans', Arial, sans-serif;
}
.poppins{
  font-family: Poppins, Arial, Helvetica, sans-serif;
}
.quicksand {
  font-family: Quicksand, Arial, sans-serif;
}
@media screen and (max-width: 450px) {
}